body {
	height: 100vh;
	margin: 0;
}

header {
	min-height: 50px;
	background: lightcyan;
}
footer {
	min-height: 50px;
	background: PapayaWhip;
}

/* Trick */
body {
	display: flex;
	flex-direction: column;
}

footer {
	margin-top: auto;
}
